<!-- After Confirmation Signup form for Staff: Filled by respective Staff -->
<div id="signuppage">
  <div class="inner-signin-div">
  	<h2>Sign up</h2>

    <!-- Form for signup and in <label> tag showing errors -->
    <%= form_for @staff , url: staff_create_users_path do |f| %> 
      <div>
      	<%= f.label :firstname %><br />
      	<%= f.text_field :firstname, value:  @staff.firstname, placeholder: 'Firstname'  %>
        <label>
          <%= @staff.errors.messages[:firstname][0] if @staff.errors.messages[:firstname].present? %>
        </label>
      </div>

      <div>
      	<%= f.label :lastname %><br />
      	<%= f.text_field :lastname, value:  @staff.lastname, placeholder: 'Lastname'  %>
        <label>
          <%= @staff.errors.messages[:lastname][0] if @staff.errors.messages[:lastname].present? %>
        </label>
      </div>

      <div><%= f.label :email %><br />
     		 <%= f.email_field :email, value:  @staff.email, readonly: true  %>
      	<label>
          <%= @staff.errors.messages[:email][0] if @staff.errors.messages[:email].present? %>
        </label>
      </div>
     
      <div>
      	<%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
        <label>
          <%= @staff.errors.messages[:password][0] if @staff.errors.messages[:password].present? %>
        </label>
      </div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %>
        <label>
          <%= @staff.errors.messages[:password_confirmation][0] if @staff.errors.messages[:password_confirmation].present? %>
        </label>
      </div> 

      <div><%= f.submit "Sign up", class: 'btn btn-small btn-success formargin' %></div> 

    <% end %>

  </div>
</div>